/* ==========================================================================
   CSS Variables
   ========================================================================== */

:root {
  /* --------------------
     Colors
     -------------------- */
  --color-whitly: #fefaff;
  --color-whitly20: #fefaff4d;
  --color-wagly: #f3edf7;
  --color-whiby: #e9f4f2;
   --color-whiby20: #e9f4f24d;
  --color-whity: #f8eeff;
  --color-whity2: #f9f1ff;
  --color-whizy: #ebdcee;

  --color-darky: #0e0812;
  --color-darkly: #2a222f;
  --color-darkow: #131212;
  --color-darkow20: #1312124d;
  --color-darkiw: #311a2f;

  --color-garry: #69626e;
  --color-garry20: #69626e40;
  --color-gorry: #8c8391;
  --color-gorry20: #8c839140;

  --color-yelly: #ffd103;
  --color-yelly20: #ffd10340;
  --color-rangy: #f39204;
  --color-rangy20: #f3920440;
  --color-hoggari: #ff5800;
  --color-hoggari20: #ff580040;

  --color-rady: #ff5555;
  --color-rady20: #ff555540;
  --color-greny: #5bac1c;
  --color-greny20: #5bac1c40;

  --color-ioly: #aa72c6;
  --color-ioly20: #aa72c640;
  --color-tioly: #aa72c660;
  --color-tioly20: #aa72c66040;

  --color-zioly1: #C9B1CC;
  --color-zioly120: #C9B1CC40;
  --color-zioly2: #7D698E;
  --color-zioly220: #7D698E40;
  --color-zioly3: #002654;
  --color-zioly320: #00265440;
  --color-zioly4: #2D0460;
  --color-zioly420: #2D046040;

  --color-blue-500: #3b82f6;
  --color-blumy: #3b82f6;
  --color-blue-20: #3b82f640;
  --color-bloy: #3b82f640;
  --color-green-500: #22c55e;
  --color-greeny: #22c55e;
  --color-green-20: #22c55e40;
  --color-greenoy: #22c55e40;

  /* --------------------
     Typography
     -------------------- */
  --font-primary: 'Funnel Display', 'IBM Plex Sans Arabic', sans-serif;
  --font-secondary: 'Ubuntu', sans-serif; /* Example, adjust if needed */

  /* Font Sizes */
  --font-size-small: 0.875rem; /* 14px */
  --font-size-base: 1rem;       /* 16px */
  --font-size-medium: 1.125rem; /* 18px */
  --font-size-large: 1.25rem;  /* 20px */
  --font-size-xl: 1.5rem;      /* 24px */
  --font-size-xxl: 2rem;       /* 32px */

  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* --------------------
     Spacing
     -------------------- */
  --space-xs: 0.25rem;  /* 4px */
  --space-sm: 0.5rem;   /* 8px */
  --space-md: 1rem;     /* 16px */
  --space-lg: 1.5rem;   /* 24px */
  --space-xl: 2rem;     /* 32px */
  --space-xxl: 3rem;    /* 48px */

  /* --------------------
     Borders & Shadows
     -------------------- */
  --border-radius-sm: 4px;
  --border-radius-md: 6px;
  --border-radius-lg: 8px;

  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
